<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Regular</th>
        <th></th>
        <th scope="col">Diesel</th>
        <th></th>
        <th scope="col">Premium</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <ng-content></ng-content>
    </tbody>
  </table>
