<div class="container">
  <div class="logoContainer">
    <img class="logo" src="../../assets/Caltex_logo_logotype.png" />
  </div>

  <div class="total">
    <div class="card">
      <div class="card-header cardHeaderStyle">
        <h4>Annual Month Overall Data of Caltex</h4>
      </div>
      <div class="card-body">
        <app-total [totalNumber]="getTotalData()"></app-total>
      </div>
    </div>
  </div>

  <div class="branch">
    <div class="card">
      <div class="card-header cardHeaderStyle">
        <h4>Data From Each Branch</h4>
      </div>
      <div class="card-body">
          <h4>Branch A</h4>
        <span app-branch>
            <tr app-week-row [week]="getWeeklyData()" *ngFor="let week of [1,2,3,4] index as i" [i]='i'></tr>
        </span>
      </div>
      <div class="card-body">
        <h4>Branch B</h4>
      <span app-branch>
          <tr app-week-row [week]="getWeeklyData()" *ngFor="let week of [1,2,3,4] index as i" [i]='i'></tr>
      </span>
    </div>
    </div>
  </div>
</div>
