.logo{
    width: 500px;
}

.logoContainer{
    margin: 25px;
    text-align: center;
}

.cardHeaderStyle{
    text-align: center;
    color: orange;
}

.total{
    margin-top: 20px;
}

.branch{
    margin-top: 20px;
}