<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-white mb-3">
        <div
          [class]="
          totalNumber.regular.used/totalNumber.regular.available < 0.7
              ? 'card-header bg-success'
              : 'card-header bg-danger'
          "
        >
          Regular
        </div>
        <div class="card-body text-dark">
          <h4 class="card-title">
            {{totalNumber.regular.used}}/{{ totalNumber.regular.available }} ({{
              totalNumber.regular.used/totalNumber.regular.available | percent: "1.0-2"
            }})
          </h4>
          <h5>Utilization of Regular</h5>
          <div class="progress">
            <div
              [class]="
              totalNumber.regular.used/totalNumber.regular.available < 0.7
                  ? 'progress-bar bg-success'
                  : 'progress-bar bg-danger'
              "
              role="progressbar"
              style="width: {{
                totalNumber.regular.used/totalNumber.regular.available | percent
              }}"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white mb-3">
        <div
          [class]="
          totalNumber.diesel.used/totalNumber.diesel.available < 0.7
              ? 'card-header bg-success'
              : 'card-header bg-danger'
          "
        >
          Diesel
        </div>
        <div class="card-body text-dark">
          <h4 class="card-title">
            {{ totalNumber.diesel.used }}/{{ totalNumber.diesel.available }} ({{
              totalNumber.diesel.used/totalNumber.diesel.available | percent: "1.0-2"
            }})
          </h4>
          <h5>Utilization of Diesel</h5>
          <div class="progress">
            <div
              [class]="
              totalNumber.diesel.used/totalNumber.diesel.available < 0.7
                  ? 'progress-bar bg-success'
                  : 'progress-bar bg-danger'
              "
              role="progressbar"
              style="width: {{
                totalNumber.diesel.used/totalNumber.diesel.available | percent
              }}"
              
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white mb-3">
        <div
          [ngClass]="
          totalNumber.premium.used/totalNumber.premium.available < 0.7
              ? 'card-header bg-success'
              : 'card-header bg-danger'
          "
        >
          Premium
        </div>
        <div class="card-body text-dark">
          <h4 class="card-title">
            {{ totalNumber.premium.used }}/{{ totalNumber.premium.available }} ({{
              totalNumber.premium.used/totalNumber.premium.available | percent: "1.0-2"
            }})
          </h4>
          <h5>Utilization of Premium</h5>
          <div class="progress">
            <div
              [class]="
              totalNumber.premium.used/totalNumber.premium.available < 0.7
                  ? 'progress-bar bg-success'
                  : 'progress-bar bg-danger'
              "
              role="progressbar"
              style="width: {{
                totalNumber.premium.used/totalNumber.premium.available | percent
              }}"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
